* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.main {
    background-image: url(bgimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    background-color: black;
    height: 70vh;
    opacity: 0.69;
    width: 100%;
    position: absolute;
    top: 0%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    height: 62px;
    margin: auto;
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 23px;
    text-align: center;
    gap: 30px;

}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 800;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
}

.sepration {

    border: 3.5px solid black;
    background-color: rgb(65, 64, 64);
    height: 2px;
    position: relative;
    z-index: 20;

}

.btn {
    padding: 8px 11px;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    cursor: pointer;
}

.btn-eng {
    border: 1px solid rgb(138, 136, 136);
    margin-right: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 14px 24px 10px 20px;
    font-size: 20px;

    display: flex;
    align-items: center;
    row-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.gtsvg {
    margin-left: 10px;
}

.main input {
    padding: 15px 120px 10px 20px;
    font-size: 15px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(138, 136, 136);
    border-radius: 4px;
    color: white;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    color: white;
    max-width: 75vw;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:800px){
    .first{
        flex-wrap: wrap;
    }
}

.secimg {
    position: relative;
}

.secimg video {
    position: absolute;
    top: 65px;
    right: 60px;
    height: 160px;    
    z-index: -10;
}

.secimg img {
    width: 400px;
}

.first > div> :nth-child(1){
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 900;
}
.first> div> :nth-child(2){
    font-size: 24px;
}

.third video{
   position: absolute;
    top: 35px;
    right: 82px;
    height: 135px;
}

.feq{
    color: white;
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 10px;
    margin: auto;
    padding: 34px;
}

.feq h1{
    text-align: center;
    font-size: 48px;
}

.feq .feqbox{
    background-color: rgb(50, 49, 49);
    height: 80px;
    width: 70vw;
    font-size: 25px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    cursor: pointer;

    transition: all ease-in-out .3s;
}

.feq .feqbox:hover{
    background-color:rgb(69, 67, 67) ;
}

.feq span{
    text-align: center;
    margin: 20px;
}

.input2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    
}

footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.footer{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.question{
    margin-top: 40px;

}

.foot{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 40px;
}

.footer a{
    color: white;
}


.copyright{
    right: 200px;
    margin-left: auto;
    margin-bottom: 40px;
}

@media screen and (max-width:800px){

    nav{
        max-width: 90vw;
    }

    .footer{
        display: grid;    
        grid-template-columns: 1fr 1fr;
        
    }

    .input{
        flex-direction: column;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
        font-weight: 600;
    }
    
    .hero> :nth-child(2) {
        font-size: 20px;
        font-weight: 200;
    }
    
    .hero> :nth-child(3) {
        font-size: 17px;
        font-weight: 200;
    }

    .feq h1{
        font-size: 32px;
    }

}